* {
    margin: 0;
    padding: 0;
}

a {
    /* Ändras pga dålig contrast mot vit bakgrund */
    color: #2b2bff !important;
}


.overview td {
    width: 50%;
}

.browsers .btn-light {
    border: 1px solid #ddd;
}

.browsers .extender {
    display: none;
}

.browsers .opsys {
    font-size: 0.7em;
}